.with-popover {
  position: relative;
  label {
    padding-top: 0;
  }

  // override default style from bootstrap
  .popover {
    width: 100%;
    max-width: none !important;
    min-width: fit-content;

    // force arrow position to be always at the right edge
    .arrow {
      left: auto !important;
      right: 21px;
    }
  }
}
