@import '../../_bootstrap-variables';

button.btn {
  border: none;
  background-color: transparent;
  border-radius: 25px;
  font-size: 18px;
  padding: 2px;
  text-decoration: none;
  min-height: 46px;
  margin-bottom: 0;
  min-width: 100px;
  padding-left: 40px;
  padding-right: 40px;
  height: fit-content;

  letter-spacing: 1px;
  font-kerning: normal;
  display: flex;
  align-items: center;

  .button-text {
    width: 100%;
  }
  &.btn-lg {
    font-size: 23px !important;
    line-height: 29px;
    padding: 21px 35px;
    border-radius: 35px;
  }
  &.btn-sm {
    font-size: 15px;
  }
}

button.btn:focus {
  box-shadow: none !important;
}

button.btn.btn-primary {
  color: var(--white-text);
  background-color: var(--gray-darker);
}

button.btn.btn-primary:hover {
  background-image: linear-gradient(to bottom, var(--gray-darker), var(--primary-active-lighter));
}

button.btn.btn-primary:active {
  background-image: linear-gradient(to bottom, var(--primary-active-lighter), var(--gray-darker));
}

button.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

button.btn.btn-secondary {
  color: var(--gray-darker);
  background: transparent;
  border: 1px solid var(--gray-darker);

  &.toggle-btn {
    background-color: transparent;
    border: none !important;
    font-size: 15px;
    padding-left: 36px;
    padding-right: 36px;

    &.active {
      background-color: white;
      font-weight: 800;
      box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.1) !important;
    }
  }
}
button.btn.btn-secondary:disabled {
  border: none;
}

button.btn.btn-secondary:focus:not(.toggle-btn) {
  border: 1px solid var(--gray-darker) !important;
}

button.btn.btn-link {
  min-height: inherit;
  .btn-icon {
    color: var(--color-icon);
  }
}

button.btn.btn-link:disabled {
  background-color: transparent !important;
  color: var(--disable-darker) !important;
}

button.btn.btn-dark {
  color: var(--white-text);
  background-image: linear-gradient(to bottom, var(--dark), var(--dark-darker));
}

button.btn.btn-dark:hover {
  background-color: var(--dark);
  background-image: linear-gradient(to bottom, var(--dark-lighter), var(--dark));
  outline-color: transparent;
}

button.btn.btn-dark:active {
  background-color: var(--dark-darker);
  background-image: linear-gradient(to bottom, var(--dark), var(--dark));
  outline-color: transparent;
}

button.btn {
  outline-color: transparent;
  box-shadow: transparent;
}

button:disabled {
  background-color: var(--input-disabled-color) !important;
  color: var(--gray-lighter) !important;
  background-image: none !important;
}

button .material-icons {
  vertical-align: middle;
  font-size: 18px;
  padding-right: 8px;
  padding-left: 8px;
}

button .material-icons.show-selected {
  position: absolute;
  right: 8px;
  top: 8px;
}

.btn-spoon-ui {
  .btn-icon.icon-left {
    svg {
      margin-right: 4px;
    }
  }
  .btn-icon.icon-right {
    svg {
      margin-left: 4px;
    }
  }
  margin-top: 0;
}
