@import '../../bootstrap-variables';

.context-menu {
  .popover {
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    border-radius: 7px;
    padding: 10px 20px;
    // margin-top: 17px !important;
    left: 15px !important;

    & > button {
      padding: 0px;
      text-align: left;
    }

    .arrow {
      left: auto !important;
      right: 18px;
    }
  }
}
