@import '../../bootstrap-variables';

.dropdown {
  width: 100%;

  .required-check {
    bottom: 28px;
    color: var(--gray-darker-opacity);
  }

  &:focus {
    .dropdown-button.btn {
      @include focusStyle();
    }
  }
  &:hover {
    .dropdown-button.btn {
      @include hoverStyle();
    }
    .required-check {
      color: var(--primary-active-darker);
    }
  }

  label {
    font-size: 18px;
    line-height: 23px;
  }

  .dropdown-button.btn {
    min-height: 50px;
    border-radius: 7px;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 15px;
    width: 100%;
    border: var(--gray-darker-opacity) solid 1px;
    color: var(--gray-darker);
    background-color: transparent;

    &.btn-sm {
      min-height: 39px;
      min-width: auto;
    }

    &:disabled {
      background-color: var(--gray-lighter) !important;
      color: var(--input-disabled-color) !important;
      border: var(--input-disabled-color) 1px solid;
      .required-check {
        color: var(--input-disabled-color);
      }
    }

    &.placeholder {
      color: var(--gray-darker-opacity);
    }
  }

  .button-text {
    text-overflow: ellipsis;
  }

  .popover {
    max-width: none;
    width: 100%;
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    padding: 15px;

    .search-bar {
      margin: 0px 4px;
    }
    .grid {
      padding: 0px;
    }
  }

  button {
    height: unset;
    min-height: 42px;

    .dropdown-selection-icon {
      font-family: 'Material Icons';
      font-size: 18px;
      margin-right: 8px;
      color: var(--gray-lighter);
    }
    .icon-with-text {
      position: relative;
    }
  }
  .search-bar {
    margin-bottom: 20px;
  }
}

.dropdown-content {
  width: 100%;
}

.dropdown-options {
  max-height: 40vh;
}

.dropdown .dropdown-item-container button:hover {
  color: var(--white-text);

  .dropdown-icon {
    color: var(--white-text);
  }
}
