@import '../../bootstrap-variables';

.dropdown-tag {
  border-radius: 23px;
  min-height: 46px;

  display: flex;
  align-items: center;

  padding: 0 2.5 * $padding-base;

  color: var(--gray-darker);
  font-size: 18px;
  font-weight: normal;

  border: 1px solid transparent;
  background-color: var(--dropdown-selected-color);

  :-moz-focusring {
    outline: unset;
  }
}
.dropdown-tag-selected {
  color: var(--white-text);
}

// override default bootstrap styles
.dropdown button.dropdown-tag {
  &:hover,
  &:focus {
    outline: unset;
    background-color: var(--disable-darker);
    color: var(--white-text);
  }
}
