@import '../../bootstrap-variables';

.item-per-page {
  flex-direction: row;
  display: flex;
  align-items: center;

  .item-per-page-text {
    font-size: 15px;
    color: var(---primary);
    margin-right: 15px;
  }
}
