@import '../../bootstrap-variables';

@keyframes fadeActionBannerIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action-banner {
  background-color: white;
  height: $action-banner-height;
  animation: fadeActionBannerIn 300ms;

  .action-banner-bread-crumb .breadcrumb {
    padding: 0;
    margin: 0;
  }

  .action-buttons {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 16px;
    height: auto;
    align-items: center;
    .btn-spoon-ui {
      margin-left: 10px;
      height: auto;
    }

    @media only screen and (max-width: 580px) {
      min-width: calc(100vw - 54px);
      margin-left: 4px;
      flex-direction: column;

      .btn-spoon-ui {
        width: calc(100vw - 40px);
        margin-bottom: 8px;
      }
    }
  }

  .nav-header-text {
    h1 {
      margin-bottom: 0;
      font-size: $font-size-bigger;
    }
  }
}

.action-banner.max {
  transition: all 300ms linear;
}

.action-banner.mini {
  transition: all 300ms linear;
}
