@import '../../bootstrap-variables';

.filepond--wrapper {
  background-color: $menu-background-color-from;
  border-radius: 7px;
  border: var(--input-disabled-color) 1px solid;
}
// override FilePond style in this block
// https://pqina.nl/filepond/docs/patterns/api/style/
.filepond--root {
  height: 49px !important;
  margin-bottom: 0;
  background-image: url('../../../static/images/add.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;

  .filepond--list-scroller {
    overflow-y: hidden;
    mask: none;
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .filepond--drop-label {
    min-height: 49px;
  }

  .filepond--file-action-button {
    cursor: pointer;
  }

  .filepond--panel-root {
    background-color: transparent;
    border-radius: 0;
    border: none;
  }

  // .filepond--item-panel {
  //   border-radius: $border-radius;
  //   border: var(--gray-lighter) solid 0.1em;
  // }

  .filepond--file-action-button:hover,
  .filepond--file-action-button:focus {
    @include focusStyle();
  }
}
