@import '../../bootstrap-variables';

.opener-icon {
  @include iconColor();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right: 12px;
  cursor: pointer;

  &.disabled {
    cursor: default;
    color: var(--input-disabled-color);
  }
}
