@import '../../bootstrap-variables';

.side-menu-logo {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 0 0 $navbar-height;
  display: flex;
  color: var(--menu-close-color);
  border-bottom: 1px solid var(--menu-border);

  img {
    margin: 0;
    padding: 0;
  }

  .side-menu-close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    color: var(--menu-close-color);
  }
}

.side-menu-hamburger {
  .material-icons {
    cursor: pointer;
  }
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  z-index: 10000;
  background: linear-gradient(120.54deg, #289fcf 0%, var(--gray-darker) 100%);
  height: 100vh;
  width: $side-menu-width;
  min-width: $side-menu-width-mini;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 1px solid var(--menu-border);
  transition: all 0.15s linear;
  position: fixed;

  .small-header {
    color: var(--header);
    font-style: normal;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    &.without-title {
      padding-top: 40px;
    }
  }

  li {
    border-left: var(--menu-border-opaque) solid 4px;
    border-top: var(--menu-border-opaque) solid 1px;
    border-bottom: var(--menu-border-opaque) solid 1px;
  }

  ul:hover li:hover {
    transition: all 0.5s linear;
    background-color: var(--menu-border-opaque-25);
    opacity: 1;
  }

  ul:hover li:not(:hover) {
    border-left: var(--menu-border-opaque) solid 4px;
    background-color: var(--menu-border-opaque);

    border-top: var(--menu-border-opaque) solid 1px;
    border-bottom: var(--menu-border-opaque) solid 1px;
  }

  li {
    .menu-item-selected {
      position: relative;
      border-left: var(--primary) solid 4px;
      left: -4px;
      color: var(--menu-list-item-selected-color);

      .material-icons {
        color: var(--primary);
      }
    }
  }
}

.side-menu-container-mini {
  width: $side-menu-width-mini;
  min-width: 70px;
  transition: all 0.15s linear;
}

@media only screen and (max-width: 580px) {
  .side-menu-container {
    display: none;
  }
}

.menu-item-header {
  padding-left: 30px;
}
