.card {
  border: none !important;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 12px;
  background-color: #ffffff !important;
  box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
  border-radius: 7px !important;

  .card-header {
    cursor: pointer;
    border-radius: 7px !important;
    border: none;
    color: var(--gray-darker);
    background-color: white;

    & > div {
      align-items: center;
    }
    border-left: var(--white) 10px solid;

    &.closed.invalid {
      border-left-color: var(--danger);
    }
    &.closed.valid {
      border-left-color: var(--success);
    }

    h3 {
      margin-bottom: 4px;
    }

    &.open {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-bottom: 2px solid var(--color-icon);
    }
  }
  &:not(.base-card) {
    .card-body {
      padding: 20px 50px 20px 20px;
    }
  }
  .card-body {
    background-color: #ffffff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
  }

  .expander {
    flex-grow: 0;
    margin-right: 8px;
    color: var(--color-icon);
  }

  .status-icon {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    margin-right: 8px;

    .status-icon-padder {
      align-content: center;
      display: flex;
      justify-content: center;
      border-radius: 32px;
      background-color: #edd3d3;
      color: var(--danger);
      max-width: 43px;
      max-height: 44px;
      margin-left: 8px;
      min-width: 43px;
      min-height: 44px;

      svg {
        margin-top: 6px;
        font-size: 30px;
      }
    }
  }

  .status-icon.valid .status-icon-padder {
    background-color: #ddedde;
    color: var(--success);
  }

  .accordion-card-header {
    padding: 16px 5px 16px 20px;
  }

  .accordion-card-header.valid,
  .accordion-card-header.invalid {
    padding: 12px 5px 12px 20px;
  }
}

@keyframes fadeIconIn {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeActiveIconIn {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
