@import '../../bootstrap-variables';

.popover {
  font-size: inherit;

  .popover-body {
    padding: $padding-base 0px;
  }

  &.bs-popover-bottom,
  &.bs-popover-auto[x-placement^='bottom'] {
    margin-top: 3 * $margin-base;

    // arrow styles
    & > .arrow {
      top: calc(-#{$popover-arrow-size} - 1px);

      &:before,
      &:after {
        border-width: 0 $popover-arrow-size $popover-arrow-size $popover-arrow-size;
      }
    }
  }

  &.bs-popover-bottom,
  &.bs-popover-auto[x-placement^='top'] {
    margin-bottom: 3 * $margin-base;

    // arrow styles
    & > .arrow {
      bottom: calc(-#{$popover-arrow-size} - 1px);

      &:before,
      &:after {
        border-width: $popover-arrow-size $popover-arrow-size 0 $popover-arrow-size;
      }
    }
  }
}
