.alert {
  color: var(--gray-darker);
  font-size: 18px;
  padding: unset;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);

  button.close {
    color: var(--primary-lighter);
    padding: unset;
    min-width: unset;
    position: unset;
    margin: unset;
    order: 3;
    margin-right: 11px;
    flex-grow: 0;
    flex-shrink: 1;
    height: 16px;
    opacity: 1;
    text-shadow: none;
    span {
      font-weight: normal;
      font-size: 45px;
      line-height: 16px;
    }
  }

  .alert-text {
    flex-grow: 10;
  }
  &.alert-success {
    border-left-color: var(--success);
    color: var(--gray-darker);
    .alert-icon {
      background: url('../../../static/images/success.svg');
    }
    &.secondary {
      background-color: var(--alert-success);
      .alert-icon {
        background: url('../../../static/images/success_type2.svg');
      }
    }
  }

  &.alert-warning {
    border-left-color: var(--warning);
    color: var(--gray-darker);
    .alert-icon {
      background: url('../../../static/images/warning.svg');
    }
    &.secondary {
      background-color: var(--alert-warning);
      .alert-icon {
        background: url('../../../static/images/warning_type2.svg');
      }
    }
  }

  &.alert-info {
    border-left-color: var(--info);
    color: var(--gray-darker);
    .alert-icon {
      background: url('../../../static/images/info.svg');
    }
    &.secondary {
      background-color: var(--alert-info);
      .alert-icon {
        background: url('../../../static/images/info_type2.svg');
      }
    }
  }

  &.alert-danger {
    border-left-color: var(--danger);
    color: var(--gray-darker);
    .alert-icon {
      background: url('../../../static/images/danger.svg');
    }
    &.secondary {
      background-color: var(--alert-danger);
      .alert-icon {
        background: url('../../../static/images/danger_type2.svg');
      }
    }
  }
}
