@import '../../bootstrap-variables';

.tag-input {
  .tags-container {
    cursor: pointer;
  }

  .tags-container.selected-tags {
    position: relative;
    top: -32px;

    .select-icon-container {
      position: relative;
      top: 2px;
    }
  }

  .popover {
    width: 100%;
    max-width: none;
  }
}
