// Override Bootstrap variables
@import '_bootstrap-variables';
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background: var(--main-color-light);
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.app-container {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;

  & > div:last-child {
    width: 100%;
  }

  .view-container {
    background: var(--main-color-light);
    min-width: calc(100% - #{$side-menu-width});
    width: calc(100% - #{$side-menu-width});
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: $side-menu-width;
    margin-top: $navbar-height;
    transition: all 300ms linear;
    padding-top: $view-container-padding;
    padding-left: $view-container-padding;
    padding-right: $view-container-padding;

    @media only screen and (max-width: 580px) {
      min-width: calc(100% - 20px);
      margin-left: 4px;
    }

    .card {
      padding: 1rem;
    }
    .view-routes {
      height: 100%;
      > div {
        height: 100%;
      }
    }
  }

  .view-container-mini-menu {
    min-width: calc(100% - 75px);
    width: calc(100% - 75px);
    margin-left: $side-menu-width-mini;
    transition: all 300ms linear;

    @media only screen and (max-width: 580px) {
      min-width: calc(100% - 20px);
      margin-left: 4px;
    }
  }
}

.view-container-hidden-menu {
  min-width: 100%;
  width: 100%;
}

.fullscreen {
  position: fixed;
  top: 100px;
  left: 0;
  width: 99% !important;
  height: calc(100% - 110px) !important;
  margin: 5px;
  z-index: 1000;
  padding: 5px 25px 50px 25px !important;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Custom button styles
========================================================================== */

.icon-button > .btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem;
  line-height: 1rem;
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temporary workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
}

/* other generic styles */

.title {
  font-size: 1.25em;
  margin: 1px 10px 1px 10px;
}

.description {
  font-size: 0.9em;
  margin: 1px 10px 1px 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

.error {
  color: var(--white-text);
  background-color: var(--error);
}

.break {
  white-space: normal;
  word-break: break-all;
}

.break-word {
  white-space: normal;
  word-break: keep-all;
}

.preserve-space {
  white-space: pre-wrap;
}

/* padding helpers */

@mixin pad($size, $side) {
  @if $size== '' {
    @if $side== '' {
      .pad {
        padding: 10px !important;
      }
    } @else {
      .pad {
        padding-#{$side}: 10px !important;
      }
    }
  } @else {
    @if $side== '' {
      .pad-#{$size} {
        padding: #{$size}px !important;
      }
    } @else {
      .pad-#{$side}-#{$size} {
        padding-#{$side}: #{$size}px !important;
      }
    }
  }
}

@include pad('', '');
@include pad('2', '');
@include pad('3', '');
@include pad('5', '');
@include pad('10', '');
@include pad('20', '');
@include pad('25', '');
@include pad('30', '');
@include pad('50', '');
@include pad('75', '');
@include pad('100', '');
@include pad('4', 'top');
@include pad('5', 'top');
@include pad('10', 'top');
@include pad('20', 'top');
@include pad('25', 'top');
@include pad('30', 'top');
@include pad('50', 'top');
@include pad('75', 'top');
@include pad('100', 'top');
@include pad('4', 'bottom');
@include pad('5', 'bottom');
@include pad('10', 'bottom');
@include pad('20', 'bottom');
@include pad('25', 'bottom');
@include pad('30', 'bottom');
@include pad('50', 'bottom');
@include pad('75', 'bottom');
@include pad('100', 'bottom');
@include pad('5', 'right');
@include pad('10', 'right');
@include pad('20', 'right');
@include pad('25', 'right');
@include pad('30', 'right');
@include pad('50', 'right');
@include pad('75', 'right');
@include pad('100', 'right');
@include pad('5', 'left');
@include pad('10', 'left');
@include pad('20', 'left');
@include pad('25', 'left');
@include pad('30', 'left');
@include pad('50', 'left');
@include pad('75', 'left');
@include pad('100', 'left');

@mixin no-padding($side) {
  @if $side== 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* end of padding helpers */

.no-margin {
  margin: 0px;
}
@mixin voffset($size) {
  @if $size== '' {
    .voffset {
      margin-top: 2px !important;
    }
  } @else {
    .voffset-#{$size} {
      margin-top: #{$size}px !important;
    }
  }
}

@include voffset('');
@include voffset('5');
@include voffset('10');
@include voffset('15');
@include voffset('30');
@include voffset('40');
@include voffset('60');
@include voffset('80');
@include voffset('100');
@include voffset('150');

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

button.anchor-btn {
  background: none;
  border: none;
  padding: 0;
  align-items: initial;
  text-align: initial;
  width: 100%;
}

a.anchor-btn:hover {
  text-decoration: none;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */

#threadDump .popover,
#healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#healthCheck .popover {
  margin-left: -50px;
}

.health-details {
  min-width: 400px;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
  width: 1% !important;
}

// Fix checkbox alignment https://github.com/jhipster/generator-jhipster/issues/8463
.form-check-input {
  margin-top: -0.5rem;
}

h1 {
  font-size: 55px;
  font-weight: 800;
  color: var(--gray-darker);
}

h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--gray-darker);
}

h3 {
  font-size: 23px;
  font-weight: 800;
  color: var(--gray-darker);
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 29px;
  font-size: 23px;
  font-style: italic;
  color: var(--gray-darker);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-active-darker);
}

.gbl-navbar {
  background-color: white;
  padding: 0 1rem;
  max-height: $navbar-height;
  min-height: $navbar-height;
  border-bottom: 1px solid rgba(197, 208, 222, 0.125);
  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }
  a {
    color: var(--gray-darker);
    font-weight: normal;
  }
  a.nav-link {
    font-weight: 800;
    > span {
      margin-left: 5px;
    }
    color: var(--black-text);
  }
  .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
    &:hover {
      color: var(--white-text);
    }
  }
}

.desktophide {
  display: none;
}

.small-header {
  text-transform: uppercase;
  padding-top: 40px;
  color: var(--gray-darker);
}

//Removes the dotted outline when clicking on a menu

:-moz-focusring {
  outline: unset;
}

.form-control {
  padding: 12px 13px;
  margin-bottom: 8px;
  border: var(--gray-darker) solid 1px;
  color: var(--gray-darker);
  font-size: 18pt;
  height: auto;
  line-height: 23px;

  &:disabled {
    background-color: var(--body-background);
  }
}

.input-group {
  margin-bottom: 8px;
}

.form-control::placeholder {
  color: var(--gray-darker-opacity);
}

.form-control:focus {
  @include focusStyle();
  background: transparent;
}
.form-control:hover {
  @include hoverStyle();
}

.form-control.is-valid:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus {
  box-shadow: none;
}

.form-control {
  border-radius: 7px;
}

.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-group {
  .material-icons {
    position: absolute;
    top: 13px;
  }
  .input-with-icon-left {
    padding-left: 45px;
  }
  .input-with-icon-right {
    padding-right: 45px;
  }
  .icon-for-input {
    position: absolute;
    top: 8px;
    color: var(--primary-lighter);

    &.right-icon {
      right: 13px;
    }

    &.left-icon {
      left: 13px;
    }
  }
  &.disabled {
    .icon-for-input {
      color: var(--input-disabled-color);
    }
  }
}

.input-group.is-valid {
  .material-icons.valid-icon {
    color: var(--success);
    display: inherit;
    right: 15px;
    width: 20px;
  }
}

.input-group.is-invalid {
  .material-icons.invalid-icon {
    color: var(--error);
    display: inherit;
    right: 15px;
    width: 20px;
  }
  .form-control {
    color: var(--error);
    border-color: var(--error);
  }

  // .form-control:focus {
  //   color: unset;
  // }
}

.input-group-icon-left {
  .material-icons.left-icon {
    display: inherit;
    left: 15px;
    color: var(--color-icon);
    z-index: 5;
  }

  .form-control {
    padding-left: 48px;
  }
}

.form-group label {
  font-size: 18px;
  line-height: 19px;
}

.form-control:disabled,
.input-group:disabled {
  color: var(--input-disabled-text);
  border: var(--input-disabled-color) 1px solid;
}

label {
  padding-top: 8px;
  margin-bottom: 0;
  color: var(--gray-darker);
  font-size: 18px;
  line-height: 19px;
}

div.valid-feedback,
small.form-text,
div.invalid-feedback {
  font-size: 12px;
  vertical-align: middle;
  text-align: end;
}

div.valid-feedback,
div.invalid-feedback {
  .material-icons {
    font-size: 19px;
    vertical-align: top;
    margin-left: 5px;
    display: unset;
    position: inherit;
  }
}
div.invalid-feedback {
  .form-feedback-span:not(.form-help) {
    .material-icons {
      color: var(--error);
    }
  }
}

.app-container .view-container {
  overflow-y: visible;
  overflow-x: unset;
}

.nav.nav-tabs {
  color: var(--gray-lighter);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 21px;
}

.nav.nav-tabs {
  .active {
    color: $dark;
    background-color: unset;
    border: unset;
    border-bottom: 3px var(--primary) solid;
    font-weight: 800;
  }

  .nav-link:hover {
    border-color: #ddd rgba(221, 221, 221, 0) rgba(238, 238, 238, 0);
  }
}

.tooltip {
  .tooltip-inner {
    padding: 15px;
    background-color: white;
    color: var(--gray-darker);
    font-size: 18px;
    line-height: 23px;
    border-radius: 7px;
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
  }

  &.bs-tooltip-auto[x-placement^='left'] {
    padding-right: 20px;

    .arrow::before {
      left: -14px;
      margin-top: -8px;
      border-width: 15px;
      border-left-color: white;
    }
  }

  &.bs-tooltip-auto[x-placement^='right'] {
    padding-left: 20px;

    .arrow::before {
      right: -14px;
      border-width: 15px;
      border-right-color: white;
      margin-top: -8px;
    }
  }

  &.bs-tooltip-auto[x-placement^='top'] {
    padding-bottom: 20px;

    .arrow::before {
      top: -14px;
      border-width: 15px;
      border-top-color: white;
      margin-left: -8px;
    }
  }

  &.bs-tooltip-auto[x-placement^='bottom'] {
    padding-top: 20px;

    .arrow::before {
      border-width: 15px;
      border-bottom-color: white;
      bottom: -14px;
      margin-left: -8px;
    }
  }
}

.breadcrumb-item {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    &::before {
      width: 1.5rem + $breadcrumb-item-padding;
      height: 1.5rem + 0.125rem;
      vertical-align: middle;
    }
  }
}

table.table {
  border-collapse: collapse;
  border-radius: 4px;
  color: var(--gray-darker);
  tr {
    border: unset;

    td,
    th {
      border: unset;
      padding: 0px;
    }
  }

  tr {
    height: 90px;
    padding-left: 30px;
    vertical-align: center;
  }
  tbody tr:hover {
    background-color: #f1f4f8;
  }

  tbody tr th {
    color: var(--black-text);
  }

  tr td:first-child,
  th:first-child {
    padding-left: 30px;
  }

  tr td:last-child,
  th:last-child {
    padding-right: 30px;
  }

  thead tr th.sortable:first-child {
    padding-left: 21px;
  }

  tbody tr {
    border-bottom: 2px solid var(--primary-lighter);
  }

  thead th {
    border-bottom: 2px solid var(--primary-lighter);
    font-size: 18px;
    font-weight: 800;
  }

  tr th,
  td {
    vertical-align: middle;
  }
}

ul.pagination {
  color: var(--gray-darker);
  margin-bottom: 0px;

  .page-link {
    background-color: transparent;
    color: var(--primary-lighter);
    border: none !important;
    margin: 0px;
    line-height: 19px;
  }

  .page-link.left,
  .page-link.right {
    padding: 6px 3px 5px 3px;
  }

  .page-link.left:before {
    content: $chevron-icon-left;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .page-link.right:before {
    content: $chevron-icon-right;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .page-item.disabled .page-link {
    background-color: unset;
  }

  .page-item.active .page-link {
    background-color: unset;
    color: var(--primary);
    font-weight: 800;
  }

  .page-item:not(.active) .page-link:hover {
    color: var(--primary);
  }
  .page-item:focus,
  .page-link:focus {
    box-shadow: none;
    outline: none;
  }
}

nav ul.pagination {
  height: 36px;
}

.side-menu-container {
  padding-right: 0;
  padding-left: 0;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.form-control:valid,
.form-control.is-valid {
  background-image: none;
}

.form-control {
  font-size: 18px;
  background: transparent;
}

.alert {
  padding: 11px 10px;
  border-radius: 7px;
  border: none;
  border-left: 10px #e1861c solid;
  background-color: white;

  &.secondary {
    box-shadow: none;
  }

  .alert-icon {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
