.base-card {
  &.card {
    width: 250px;
    min-width: 250px;
    text-align: center;
    border-radius: 7px;
    border: none;

    .card-body {
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
    }
  }

  .card-image {
    margin-bottom: 25px;
    color: var(--color-icon);

    svg {
      font-size: 90px;
    }
  }

  .card-title {
    margin-bottom: 25px;
    flex: 1;
    h2 {
      line-height: 0.9;
    }
  }

  .card-subtitle {
    flex: 1;
    p {
      color: var(--gray-darker);
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 0px;
      font-style: normal;
    }
  }

  button.btn {
    display: inline-block;
  }
}
