.login-card {
  padding: 90px 100px !important;
  border-radius: 7px;
  background-color: rgba(147, 177, 214, 0.5);
  box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
  .logo-grindrod-bank {
    height: 91px;
    width: 449px;
  }
  .powered-by {
    color: #ffffff;
    font-weight: bold;
    img {
      margin-left: 10px;
    }
  }
  .button-login {
    margin-top: 90px;
  }
}
