.card2.base-card {
  &.card {
    display: inline-block;
    width: 280px;
    min-width: 280px;
    text-align: center;
    border-radius: 7px;
    border: none;

    .card-body {
      padding-bottom: 34px;
      height: 320px;
    }
  }

  .card-image {
    margin-bottom: 10px;
    color: var(--color-icon);

    svg {
      font-size: 90px;
    }
  }

  .card-title {
    height: 58px;
    line-height: 29px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-subtitle {
    margin-bottom: 34px;

    p {
      color: var(--gray-darker);
      font-size: 15px;
      line-height: 19px;
      font-style: oblique;
    }
  }

  button.btn {
    display: inline-block;
  }
}

.card2 ~ .card2 {
  margin-left: 24px;
}
